#form-equipment {
    height: 77%;
    width: 95%;
    position: relative;
    margin: 0 0 0 5%;
    box-sizing: border-box;
    overflow: hidden;
}
#form-equipment section:first-child {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#form-equipment section:first-child div {
    height: 80%;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#form-equipment section:first-child div:last-child {
    height: 20%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-equipment section:first-child div:last-child button {
    height: 40%;
    width: 25%;
    font-size: 1em;
    font-weight: 500;
}
#form-equipment section:first-child .container-category {
    height: 10%;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 5%;
    box-sizing: border-box;
}
#form-equipment section:first-child .container-category #select__category {
    height: 100%;
    width: 85.5%;
    background: #F5F5F5;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
}
#form-equipment section:first-child .container-category #addCategory {
    height: 100%;
    width: 10%;
    background: #F5F5F5;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
}
#form-equipment section:first-child .container-brand {
    height: 10%;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 5%;
    box-sizing: border-box;
}
#form-equipment section:first-child .containe__codeequipment {
    height: 10%;
    width: 88.9%;
    margin-bottom: 5%;
    background: #F5F5F5;
    border: 2px solid #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;
}
#form-equipment section:first-child .containe__codeequipment div {
    height: 100%;
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #EEEEEE;
    color: #757575;
}
#form-equipment section:first-child .containe__codeequipment div { user-select: none; }
#form-equipment section:first-child .containe__codeequipment input {
    height: 100%;
    width: 70%;
    padding: 5%;
    position: relative;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: none;
}
#form-equipment section:first-child .container-brand select {
    height: 100%;
    width: 85.5%;
}
#form-equipment section:first-child .container-brand button {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
}
#form-equipment section:first-child div:last-child button {
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-equipment section:first-child div:last-child button span { padding-right: 4%; }
/* Estilos de la segunda seccion del formulario de equipos informaticos */
#form-equipment #section-two {
    top: 0;
    left: -200%;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    transition: left 1s;
}
#form-equipment #section-two div {
    height: 90%;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#form-equipment #section-two div:first-child label { margin-left: 0px; }
#form-equipment #section-two div:first-child input { margin-bottom: 5%; }
#form-equipment #section-two div:first-child #specificationDevices {
    margin-bottom: 5%; 
}
#form-equipment #section-two div:first-child textarea {
    height: 19%;
    background: #F5F5F5;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    resize: none;
}
#form-equipment #section-two .second-container__section .modify, .modify-label { margin-left: 5%; }
#form-equipment #section-two .second-container__section .modify { height: 8%; width: 80%; }
#form-equipment #section-two div:last-child {
    height: 10%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-equipment #section-two div:last-child button {
    height: 80%;
    width: 40%;
}
#form-equipment #section-two .second-container__section .container_messageAddress {
    height: 9%;
    width: 85%;
    margin-left: 5%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background: #F5F5F5;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
}
#form-equipment #section-two .second-container__section .container_messageAddress span {
    padding-right: 3%;
}
.window_address {
    height: 60%;
    width: 50%;
    position: absolute;
    display: none;
    justify-content: center;
    flex-direction: column;
    top: 10%;
    left: 20%;
    background: #FFFFFF;
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px #424242;
}
.window_address label { margin-left: 5%; }
.window_address input {
    margin-left: 5%;
    height: 13%;
}
.window_address div {
    height: 15% !important;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.window_address div #accept_address {
    height: 100%;
    width: 50%;
    position: relative;
}
#returnSectionEquipment {
    top: 3%;
    right: 200%;
    height: 5%;
    width: 6%;
    background: #F5F5F5;
    border-radius: 5px;
    border: 2px solid #EEEEEE;
    position: absolute;
    transition: right 1s;
    z-index: 400;
}