@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

main {
    display: flex;
}

#root {
    height: 100%;
    width: 80%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

#equipments_section {
    height: 100%;
    width: 100%;
    position: relative;
}

#search_equipment {
    height: 10%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}

.container-search {
    height: 75%;
    width: 40%;
    position: relative;
    display: flex;
    background: #FAFAFA;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 55%;
}

.container-input__equipment {
    height: 100%;
    width: 85%;
    position: relative;
    display: flex;
    box-sizing: border-box;
}

.container-code__search {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #EEEEEE;
}

.container-code__search span {
    color: #BDBDBD;
    font-size: .8em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    user-select: none;
}

.filters-button {
    height: 70%;
    width: auto;
    box-sizing: border-box;
    background: #FAFAFA;
    border: 1px solid #EEEEEE;
    color: #9E9E9E;
    border-radius: 10px;
    padding: 0px 1%;
    font-size: .8em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#enableWindowFilter { position: absolute; right: 0; }
#deleteFiltrosDevices { position: absolute; right: 7%; }

#inputSearchEquipment {
    height: 100%;
    width: 70%;
    box-sizing: border-box;
    border: none;
    background: none;
    padding-left: 5%;
    outline: none;
}

#inputSearchEquipment::placeholder {
    color: #BDBDBD;
    font-size: .9em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.container-buttonSearch__equipment {
    height: 100%;
    width: 15%;
    position: relative;
    box-sizing: border-box;
}

.container-buttonSearch__equipment #buttonSearchEquipment {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    border: none;
    background: #F5F5F5;
    border-left: 1px solid #EEEEEE;
}

#navigation_sections-inventory {
    height: 100%;
    width: 20%;
    box-sizing: border-box;
    position: relative;
}

/* Estilos de la ventana emergente para ver todos los equipos informaticos */
.container-close {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
}
.container-actions {
    height: 90%;
    width: 90%;
    position: relative;
    display: flex;
    background: #FFFFFF;
    overflow: hidden;
    box-sizing: border-box;
}

#root-actions {
    height: 100%;
    width: 78%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    background: #FFFFFF;
}

#root-actions h2 {
    padding: 5% 0 5% 5%;
    color: #212121;
    font-size: 1.1em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#form-update-device {
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#form-update-device label {
    font-size: 1em;
    font-weight: 700;
    color: #424242;
    padding-bottom: 3%;
    padding-left: 5%;
}

#form-update-device select {
    height: 45px;
    width: 70%;
    margin-left: 5%;
    margin-bottom: 3%;
    background: #F5F5F5;
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
}

#form-update-device input {
    margin-left: 5%;
    margin-bottom: 3%;
    height: 45px;
    width: 70%;
    box-sizing: border-box;
    background: #F5F5F5;
    border: 1px solid #EEEEEE;
}

#form-update-device textarea {
    margin-left: 5%;
    margin-bottom: 3%;
    height: 100px;
    width: 70%;
    padding: 1%;
    resize: none;
    background: #F5F5F5;
    border: 1px solid #EEEEEE;
    outline: none;
}
#form-update-device textarea:focus { border: 1px solid #BDBDBD; }

/* Estilo de la barra de navagacion de las acciones */
#nav-actions {
    height: 100%;
    width: 22%;
    position: relative;
    box-sizing: border-box;
}

#nav-actions ul {
    margin: 20% 0 0 10%;
    height: auto;
    width: 90%;
    box-sizing: border-box;
    border-left: 3px solid #F5F5F5;
}

#nav-actions ul li {
    padding: 5% 0 3% 5%;
    user-select: none;
}

#nav-actions ul li:hover {
    background: #EEEEEE;
}

.selected-actions__li { color: #1A73E8; }


/* Estilos de la tabla de equipos informaticos */
.container-table__devices {
    height: 85%;
    width: 97%;
    display: block;
    margin: 2% 0 0 3%;
    position: relative;
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    overflow-y: auto;
    box-sizing: border-box;
}
.container-title {
    height: 15%;
    width: 100%;
    display: flex;
    border-bottom: px solid gray;
    box-sizing: border-box;
}
.container-title div:first-child {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3%;
}
.container-title div:first-child h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: .9em;
    padding-top: 4%;
    padding-bottom: 2%;
    font-weight: 700;
    font-style: normal;
    color: #424242;
}
.container-title div:first-child p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: .9em;
    font-weight: 500;
    font-style: normal;
    color: #616161;
}
.container-title div:last-child {
    height: 100%;
    width: 30%;
    position: relative;
    display: flex;
    align-items: center;
}
.container-title div:last-child button {
    margin-top: 5%;
    right: 8%;
    height: 45%;
    position: absolute;
    border: none;
    border-radius: 5px;
    background: #01579B;
    color: #FAFAFA;
    padding: 0 4%;
}
.root_devices {
    margin-top: 3%;
    height: auto;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.root_devices table {
    height: auto;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.root_devices table thead {
    height: auto;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.root_devices table thead tr {
    height: auto;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #BDBDBD;
    box-sizing: border-box;
}
.root_devices table thead tr th {
    height: auto;
    position: relative;
    padding: 1%;
    font-family: "Montserrat", sans-serif;
    font-size: .9em;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #212121;
    box-sizing: border-box;
}
.root_devices table thead tr th:first-child { width: 17%; padding-left: 3%; }
.root_devices table thead tr th:nth-child(2) { width: 55%;}
.root_devices table thead tr th:nth-child(3) { width: 18%; text-align: center; }
.root_devices table thead tr th:last-child { width: 10%; }
.root_devices table tbody {
    height: auto;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.root_devices table tbody tr {
    height: auto;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #E0E0E0;
    box-sizing: border-box;
}
.root_devices table tbody tr td {
    padding: 1.7% 0;
    height: auto;
    position: relative;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: .8em;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    color: #6B7280;
} 
.root_devices table tbody tr td:first-child { padding-left: 3%; color: #212121; }
.root_devices table tbody tr td:nth-child(2) { padding-left: 1%; }
.root_devices table tbody tr td:nth-child(3) { 
    display: flex;
    justify-content: center;
    align-items: center;
}
.root_devices table tbody tr td:nth-child(3) .background-paragraph {
    height: min-content;
    width: max-content;
    position: relative;
    padding: 2%;
    border-radius: 5px;
}
.active-devices { color: #1B5E20; border: 1px solid #A5D6A7; background: #E8F5E9; }
.not-available__devices { color: #B71C1C; border: 1px solid #EF9A9A; background: #FFCDD2; }
.root_devices table tbody tr td:last-child button { 
    height: 100%;
    width: 55%;
    color: #0277BD;
    font-weight: 700; 
    background: none;
    border: none;
}
.root_devices table tbody tr td:last-child:hover { color: #6B7280; }
.container-table__devices:hover .container-table_buttons { display: flex; }
.title-images {
    padding: 3% 0 5% 5%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 1em;
    font-weight: 700;
    font-style: normal;
    color: #424242;
}
/* Estilos del carrusel de imagenes */
.container-image {
    height: 550px;
    width: 90%;
    position: relative;
    margin: 0 0 3% 5%;
    box-sizing: border-box;
}

.image-device {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
} 

.root-image {
    height: 100%;
    width: 100%;
    position: relative;
    flex: none;
}

.root-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    user-select: none;
}

.root-image button {
    top: 3%;
    left: 50%;
    position: absolute;
}

.container-navigation__images {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
} 

.container-navigation__images button {
    height: 9%;
    width: 5%;
    border-radius: 100%;
    background: rgba(245, 245, 245, 0.5);
    border: 1px solid #EEEEEE;
}

.container-input__image {
    margin: 0 0 5% 5%;
    height: 4em;
    width: 90%;
    position: relative;
    background: #212121;
    box-sizing: border-box;
}

#imageInput {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

#label-image {
    top: 0;
    height: 100%;
    width: 100% ;
    position: absolute;
    background: #F5F5F5;
    border: 2px solid #EEEEEE;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 0 0 5% !important;
}

#left-image { position: absolute; left: 2%; } 
#right-image { position: absolute; right: 2%; }
#delete-image2 { position: absolute; top: 2%; left: 50%;}
#imageInput {
    display: none;
}

#update-data {
    height: 4em;
    width: 90%;
    display: block;
    margin: 5% auto 5%;
    background: #833F0E;
    border: 0;
    color: #F5F5F5;
    font-size: 1em;
    border-radius: 5px;
}

.container-file__bill {
    height: 5em;
    width: 90%;
    margin: 0 0 0 5%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #F5F5F5;
    border: 2px solid #EEEEEE;
}
 
.file-bill {
    height: 100%;
    width: 50%;
    position: relative;
    box-sizing: border-box;
    border-right: 2px solid #EEEEEE;
}

.file-bill input {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.file-bill label {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 0 0 5% !important;
    background: #F5F5F5;
    box-sizing: border-box;
}

.control__bill {
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.control__bill button {
    padding: 3%;
    border: 1px solid #E0E0E0;
    background: #F5F5F5;
    box-sizing: border-box;
}

.description_action-bill {
    padding: 0 0 3% 5%;
    font-family: "Montserrat", sans-serif;
    font-size: .9em;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    color: #6B7280;
}

/* Estilos de la seccion de resguardantes */
.title-employeeProtective {
    padding: 4% 0 7% 5% !important;
}

.message-not-protective {
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
}

.message-not-protective img {
    width: 30%;
}

.container-protective-employee {
    height: 80%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: none;
}

.root-protective__card {
    height: min-content;
    width: 50%;
    position: relative;
} 

.card-protective {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
}

.card-protective p span { color: #212121; }
.card-protective p { color: #616161; }

.circle-decoration-protective {
    height: .5em;
    width: .5em;
    background: #F5F5F5;
    border: 1px solid #BDBDBD;
    border-radius: 100%;
    margin-right: 4%;
    margin-left: 2.1%;
}

.line-decoration-protective {
    height: 2em;
    width: 1px;
    background: #EEEEEE;
    margin-left: 3%;
}

.card-protective__email {
    margin-top: 5px;
    height: 15em;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.circle-email-protective {
    height: 100%;
    width: 10%;
    position: relative;
}

.circle-decorationImage-protective {
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    background: #F5F5F5;
    border: 1px solid #BDBDBD;
}

.circle-decorationImage-protective img {
    width: 50%;
    display: block;
}

.container-email-protective {
    height: 100%;
    width: 90%;
    position: relative;
}

.card-email {
    height: 100%;
    width: 100%;
    position: relative;
    border: 1px solid #E0E0E0;
    border-radius: .5em;
    overflow: hidden;
}

.card-email .container-title__email {
    padding: 2% 0 2% 4%;
    background: #EFEBE9;
}

#form-email-protective {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

#form-email-protective div:first-child {
    height: 2.5em;
    width: 92.5%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 2%;
}

#form-email-protective div:first-child label {
    color: #212121;
}

#form-email-protective div:first-child input {
    height: 100%;
    width: 85%;
    margin-left: 2%;
    box-sizing: border-box;
    border: 0;
    outline: none;
}

.container-message__form {
    height: 6.5em;
    width: 92.5%;
    display: block;
    margin: 0 auto;
}

#message {
    height: 100%;
    width: 100%;
    position: relative;
    resize: none;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

#send-email {
    background: none;
    border: 1px solid #E0E0E0;
    position: absolute;
    right: 3%;
    padding: 2%;
    border-radius: .5em;
    font-weight: 700;
}

/* Estilos de añadir gastos */
#form-add-expenses {
    height: 80%;
    width: 80%;
    position: relative;
    display: block;
    margin: 0 auto;
}

.firstInputs__expends {
    height: 20%;
    width: 100%;
    position: relative;
    display: flex;
    box-sizing: border-box;
}

.firstInputs__expends div:first-child {
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.firstInputs__expends div:first-child label {
    padding: 5% 0 5% 0;
}

.firstInputs__expends div:first-child input {
    height: 30%;
    width: 90%;
    box-sizing: border-box;
    outline: none;
}

.firstInputs__expends .last-div {
    height: 100%;
    width: 50%;
    position: relative;
    box-sizing: border-box;
}

.firstInputs__expends .last-div #label_quantity {
    padding: 5% 0 5% 0;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

.firstInputs__expends .last-div .container-quantity-root {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    border: 1px solid black;
    overflow: hidden;
}

.firstInputs__expends .last-div .container-quantity-root input {
    height: 100%;
    width: 75%;
    border: none;
    outline: none;
}

.container-quantity {
    height: 100%;
    width: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
}

.secondInputs__expends {
    height: 20%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondInputs__expends-div {
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.secondInputs__expends-div label {
    padding: 5% 0 5% 0;
}

#date {
    height: 30%;
    width: 90%;
    box-sizing: border-box;
}

.secondInputs__expends-unitPrice {
    height: 30%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
}

#unitPrice {
    height: 100%;
    width: 75%;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.container-pesos {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
}

.container-file-pdf {
    margin-top: 2%;
    height: 40%;
    width: 100%;
    position: relative;
    border: 1px dashed black;
}

#pdf {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

#label-pdf {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}

#label-pdf svg {
    height: 25%;
    width: 25%;
    margin-bottom: 3%;
    fill: #616161;
    display: block;
}

#add-expenses {
    padding: 1% 3%;
    position: absolute;
    bottom: 0;
    right: 0;
}