@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
main { display: flex; }
#root {
    height: 100%;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}
/* Estilos de la renderización de equipos */
#equipments_section {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
form {
    height: 7%;
    width: 95%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 1% 0 2% 0;
    border-radius: 15px;
    box-sizing: border-box;
}
#enableWindowFilter {
    height: 100%;
    width: 5%;
    right: 0;
    background: none;
    border: none;
    position: absolute;
    border-radius: 10px;
    background: #F5F5F5;
}
.filter-container {
    top: 17%;
    left: 74.2%;
    height: 15%;
    width: 15%;
    position: absolute;
    background: #F5F5F5;
    border: 2px solid #E0E0E0;
}
.filter-container .filter {
    height: 33.3%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.filter-container .filter label {
    width: 100%;
    margin-left: 5%;
}
.filter-container .filter label span {
    user-select: none;
    padding-left: 5%;
    color: #9E9E9E;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: .9em;
    font-weight: 600;
}
.filter-container .filter:hover { background: #EEEEEE; }
#enableWindowFilter:hover { border: 2px solid #E0E0E0; }
form .container-search {
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #EEEEEE;
    background: #FAFAFA;
    overflow: hidden;
    border-radius: 10px;
}
form .container-search:hover { border: 2px solid #BDBDBD; }
form .container-search .container-input__equipment {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
form .container-search .container-input__equipment div {
    height: 100%;
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: .9em;
    font-weight: 600;
    color: #424242;
    border-right: 2px solid #EEEEEE;
}
form .container-search .container-input__equipment input {
    height: 100%;
    width: 70%;
    position: relative;
    border: none;
    outline: none;
    background: none;
    padding-left: 5%;
    box-sizing: border-box;
}
form .container-search .container-buttonSearch__equipment {
    height: 100%;
    width: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #EEEEEE;
}
form .container-search .container-buttonSearch__equipment button {
    height: 100%;
    width: 100%;
    border: none;
}
.container-table__devices {
    height: 85%;
    width: 95%;
    position: relative;
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    overflow-y: auto;
    box-sizing: border-box;
}
.container-title {
    height: 15%;
    width: 100%;
    display: flex;
    border-bottom: px solid gray;
    box-sizing: border-box;
}
.container-title div:first-child {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3%;
}
.container-title div:first-child h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: .9em;
    padding-top: 4%;
    padding-bottom: 2%;
    font-weight: 700;
    font-style: normal;
    color: #424242;
}
.container-title div:first-child p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: .9em;
    font-weight: 500;
    font-style: normal;
    color: #616161;
}
.container-title div:last-child {
    height: 100%;
    width: 30%;
    position: relative;
    display: flex;
    align-items: center;
}
.container-title div:last-child button {
    margin-top: 5%;
    right: 8%;
    height: 45%;
    position: absolute;
    border: none;
    border-radius: 5px;
    background: #01579B;
    color: #FAFAFA;
    padding: 0 4%;
}
.root_devices {
    margin-top: 3%;
    height: auto;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.root_devices table {
    height: auto;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.root_devices table thead {
    height: auto;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.root_devices table thead tr {
    height: auto;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #BDBDBD;
    box-sizing: border-box;
}
.root_devices table thead tr th {
    height: auto;
    position: relative;
    padding: 1%;
    font-family: "Montserrat", sans-serif;
    font-size: .9em;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #212121;
    box-sizing: border-box;
}
.root_devices table thead tr th:first-child { width: 17%; padding-left: 3%; }
.root_devices table thead tr th:nth-child(2) { width: 55%;}
.root_devices table thead tr th:nth-child(3) { width: 18%; text-align: center; }
.root_devices table thead tr th:last-child { width: 10%; }
.root_devices table tbody {
    height: auto;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.root_devices table tbody tr {
    height: auto;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #E0E0E0;
    box-sizing: border-box;
}
.root_devices table tbody tr td {
    padding: 1.7% 0;
    height: auto;
    position: relative;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: .8em;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    color: #6B7280;
} 
.root_devices table tbody tr td:first-child { padding-left: 3%; color: #212121; }
.root_devices table tbody tr td:nth-child(2) { padding-left: 1%; }
.root_devices table tbody tr td:nth-child(3) { 
    display: flex;
    justify-content: center;
    align-items: center;
}
.root_devices table tbody tr td:nth-child(3) .background-paragraph {
    height: min-content;
    width: max-content;
    position: relative;
    padding: 2%;
    border-radius: 5px;
}
.active-devices { color: #1B5E20; border: 1px solid #A5D6A7; background: #E8F5E9; }
.not-available__devices { color: #B71C1C; border: 1px solid #EF9A9A; background: #FFCDD2; }
.root_devices table tbody tr td:last-child button { 
    height: 100%;
    width: 55%;
    color: #0277BD;
    font-weight: 700; 
    background: none;
    border: none;
}
.root_devices table tbody tr td:last-child:hover { color: #6B7280; }
.container-table__devices:hover .container-table_buttons { display: flex; }
/* Estilos de la renderización de empleados */
#employee_section {
    height: 100%;
    width: 100%;
    position: relative;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
}
/* Estilos de la barra de navegación */
#navigation_sections-inventory {
    height: 100%;
    width: 20%;
    position: relative;
    box-sizing: border-box;
}
#navigation_sections-inventory ul {
    margin-top: 29%;
    margin-left: 10%;
    height: auto;
    width: 90%;
    border-left: 3px solid #F5F5F5;
    box-sizing: border-box;
}
#navigation_sections-inventory ul li {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: #424242;
    font-weight: 700;
    font-size: .9em;
    padding: 0 0 5% 7%;
}
.li-selected { color: #1A73E8 !important; }
#deleteFiltrosDevices {
    right: 7%;
    height: 80%;
    position: absolute;
    background: #F5F5F5;
    border: 2px solid #EEEEEE;
    color: #757575;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: .7em;
    border-radius: 7px;
}
/* Ventana de acciones */
.actions-container {
    top: 0%;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}
.actions-container div {
    height: 90%;
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
}
.actions-container div #root-actions {
    height: 100%;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.actions-container div #root-actions h2 {
    padding: 3% 0 5% 5%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1.2em;
    color: #212121;
}
.actions-container div #root-actions #form-update-device {
    height: auto;
    width: 90%;
    margin: 0 0 0 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:normal;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0;
}
.actions-container div #root-actions #form-update-device label {
    font-weight: 700;
    font-size: 1em;
    color: #424242;
    padding-bottom: 3%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}
.actions-container div #root-actions #form-update-device select {
    height: auto;
    padding: 1.6vh;
    margin-bottom: 3%;
    width: 80%;
    display: block;
    position: relative;
    background: #F5F5F5;
    border: 2px solid #EEEEEE;
    box-sizing: border-box;
}
.actions-container div #root-actions #form-update-device input {
    width: 80%;
    border: 2px solid #EEEEEE;
    background: #F5F5F5;
    border-radius: 5px;
    margin-bottom: 3%;
    padding: 1.6vh;
    outline: none;
    box-sizing: border-box;
}
.input-date {
    opacity: 0;
    position: absolute;
}

.label-date {
    width: 80%;
    display: flex;
    align-items: center;
    background: #F5F5F5;
    border: 2px solid #EEEEEE;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 3%;
    border-radius: 5px;
}
.actions-container div #root-actions #form-update-device textarea {
    height: auto;
    padding: 2vh 4vh  8vh 1.5vh;
    width: 70%;
    resize: none;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #EEEEEE;
    background: #F5F5F5;
    margin-bottom: 3%;
}
.actions-container div #root-actions #form-update-device button {
    padding: 1.5vh;
    width: 70%;
    margin-bottom: 5%;
}
.actions-container div nav {
    height: 100%;
    width: 20%;
    position: relative;
    border-left: 2px solid #757575;
    box-sizing: border-box;
}