:root {
    --color-title: #000000;
    --color-caption: #212121;
    --border-container: #E0E0E0;
    --background-main: #FFFFFF;
    --color-forgotPassword: #757575;
    --color-placeholder: #BDBDBD;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    box-sizing: border-box;
}
.container-logo {
    height: 100%;
    width: 45%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 2px solid var(--border-container);
}
.container-logo img { width: 50%; }
.section-login {
    height: 100%;
    width: 55%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.section-login h1 {
    color: var(--color-title);
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.9em;
    padding: 10% 0 1.5% 0;
}
.section-login h2 {
    color: var(--color-caption);
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1em;
    padding-bottom: 8%;
}
.section-login form {
    height: 40%;
    width: 60%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.section-login form .container-viewPassword {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 5%;
}
.section-login form .container-viewPassword input {
    height: 23px;
    width: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
}
.section-login form .container-viewPassword label { 
    padding-left: 2%; 
    user-select: none; 
    color: var(--color-placeholder);
}
.section-login form .container-viewPassword input:checked { background: #F5F5F5; }
.section-login form .container-viewPassword input:checked::after {
    content: "\2713";
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: #757575;
}
.section-login form button {
    height: 17%;
    width: 100%;
    font-size: 1.2em;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
}