@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

main { display: flex; }
main section {
    height: 100%;
    width: 85%;
    position: relative;
    overflow: hidden;
}
main section .first_article {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}
main section .first_article .first_div {
    height: 100%;
    width: 35%;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
main section .first_article .first_div label {
    padding: 10% 0 5% 5%;
    font-weight: 700;
    color: #424242;
    font-size: 1.1em;
}
main section .first_article .first_div .container__codeEquipment {
    height: 7%;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    background: #F5F5F5;
    margin: 2% 0 15% 5%;
}
main section .first_article .first_div .container__codeEquipment div {
    height: 100%;
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #424242;
    border-right: 2px solid #EEEEEE;
}
main section .first_article .first_div .container__codeEquipment div span { user-select: none; }
main section .first_article .first_div .container__codeEquipment input {
    height: 100%;
    width: 55%;
    position: relative;
    box-sizing: border-box;
    border: none;
    background: none;
    outline: none;
    padding-left: 5%;
}
main section .first_article .first_div .container__codeEquipment div:last-child {
    height: 100%;
    width: 15%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #424242;
    border-left: 2px solid #EEEEEE;
}
main section .first_article .first_div .container__codeEquipment div:last-child button {
    height: 100%;
    width: 100%;
    border: none;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    background: none;
    overflow: hidden;
}
main section .first_article .first_div .container__codeEquipment div:last-child button img { width: 45%; }
main section .first_article .first_div .container__codeEquipment div:last-child button:hover { background: #EEEEEE; }
h2, p { padding-left: 5%; }
main section .first_article .first_div select {
    height: 6%;
    width: 90%;
    box-sizing: border-box;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    background: #F5F5F5;
    margin: 5% 0 3% 5%;
}
main section .first_article .first_div select option {
    padding-left: 5%;
}
main section .first_article .first_div h2 {
    font-size: 1.3em;
    font-weight: 900;
    color: #212121;
    padding-bottom: 7%;
}

main section .first_article .second_div {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Estilos de las tablas */
.root-container-table {
    margin-top: 2%;
    height: 88%;
    width: 90%;
    position: relative;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: .5em;
    overflow: hidden;
}

.container-title__safeguards {
    height: 12%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.container-table-devices__authSafeguards {
    height: 88%;
    width: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

.container-title__safeguards h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: .9em;
    font-weight: 700;
    font-style: normal;
    padding-top: .5em;
    padding-bottom: .8em;
    color: #424242;
}

table { margin-top: 2%; height: auto; width: 100%; position: relative; }
table thead { height: auto; width: 100%; position: relative; }
table thead tr { height: auto; width: 100%; position: relative; border-bottom: 1px solid #BDBDBD; }
table thead tr th {
    height: auto;
    position: relative;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: .9em;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #212121; 
    text-align: left;
    padding: .8em;
    box-sizing: border-box;
}

table thead tr th:first-child { width: 25%; padding-left: 5%; }
table thead tr th:nth-child(2) { width: 60%; }
table thead tr th:last-child { width: 15%; }

table tbody { height: auto; width: 100%; position: relative; box-sizing: border-box; }
table tbody tr {
    height: auto;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #E0E0E0;
    box-sizing: border-box;
}

table tbody tr td {
    padding: 1.7% 0;
    height: auto;
    position: relative;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: .8em;
    text-align: left;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    color: #6B7280;
}

table tbody tr td:first-child { padding-left: 5%; color: #212121; }
table tbody tr td:last-child button { height: 100%; width: 55%; color: #0277BD; font-weight: 700; background: none; border: none; }

.divParent__modal {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divParent__modal .containerItems__modal {
    height: 20%;
    width: 35%;
    background: #FFF;
    border: 2px solid #EEEEEE;
    position: relative;
    border-radius: 5px;
}
.divParent__modal .containerItems__modal div:first-child {
    height: 30%;
    width: 100%;
    background: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.1em;
    color: #212121;
    box-sizing: border-box;
}
.divParent__modal .containerItems__modal div:last-child {
    height: 70%;
    width: 100%;
    display: flex;  
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
}
.divParent__modal .containerItems__modal div:last-child button:first-child {
    height: 40%;
    width: 40%;
    border-radius: 5px;
    border: none;
    color: #EEEEEE;
    font-weight: bold;
    background: #B71C1C;
    position: relative;
}
.divParent__modal .containerItems__modal div:last-child button:last-child {
    height: 40%;
    width: 40%;
    border-radius: 5px;
    border: none;
    color: #EEEEEE;
    font-weight: bold;
    background: #833F0E;
    position: relative;
}
.container-safeguards__button {
    height: 10%;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

#observation_button,
#observation_button-return {
    height: 60%;
    width: 30%;
    position: absolute;
    left: 0;
    background: none;
    color: #424242;
    font-weight: 700;
    border: 1px solid #BDBDBD;
    border-radius: .3em;
}

#observation_button:hover, #observation_button-return:hover { background: #FAFAFA; }

#cancel__button,
#cancel__button-return {
    height: 60%;
    width: 30%;
    position: absolute;
    left: 35%;
    background: #FFCDD2;
    border: 1px solid #B71C1C;
    color: #D32F2F;
    font-size: .8em;
    font-weight: 700;
    border-radius: .3em;
    box-sizing: border-box;
}

#auth__button,
#auth__button-return {
    height: 60%;
    width: 30%;
    position: absolute;
    right: 0;
    background: #01579B;
    border-radius: .3em;
    border: none;
    color: #FAFAFA;
    font-size: .8em;
    font-weight: 700;
    box-sizing: border-box;
}

#observation__auth-textarea {
    height: 20%;
    width: 90%;
    position: absolute;
    resize: none;
    border-radius: 5px;
    padding: 2% 0  0 2%;
    outline: none;
    box-sizing: border-box;
    background: #FAFAFA;
    color: #757575;
    border: 2px solid #757575;
    box-shadow: 0px 0px 10px 0px #424242;
}
.textarea__hidden {
    bottom: 200%;
}
/* Estilos de la seccion de devolucion */
main section .second_article {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}
main section .second_article .first_div {
    height: 100%;
    width: 35%;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
main section .second_article .first_div label {
    padding: 10% 0 5% 5%;
    font-weight: 700;
    color: #424242;
    font-size: 1.1em;
}
main section .second_article .first_div .container__codeEquipment {
    height: 7%;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    background: #F5F5F5;
    margin: 2% 0 15% 5%;
}
main section .second_article .first_div .container__codeEquipment div {
    height: 100%;
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #424242;
    border-right: 2px solid #EEEEEE;
}
main section .second_article .first_div .container__codeEquipment div span { user-select: none; }
main section .second_article .first_div .container__codeEquipment input {
    height: 100%;
    width: 55%;
    position: relative;
    box-sizing: border-box;
    border: none;
    background: none;
    outline: none;
    padding-left: 5%;
}
main section .second_article .first_div .container__codeEquipment div:last-child {
    height: 100%;
    width: 15%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #424242;
    border-left: 2px solid #EEEEEE;
}
main section .second_article .first_div .container__codeEquipment div:last-child button {
    height: 100%;
    width: 100%;
    border: none;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    background: none;
    overflow: hidden;
}
main section .second_article .first_div h2 {
    color: #424242;
    font-size: 1.3em;
    padding-bottom: 7%;
}
main section .second_article .first_div .container__codeEquipment div:last-child button img { width: 45%; }
main section .second_article .first_div .container__codeEquipment div:last-child button:hover { background: #EEEEEE; }
main section .second_article .first_div .container-nameuser__return {
    border: 2px solid #EEEEEE;
    background: #F5F5F5;
    width: 90%;
    height: 8%;
    border-radius: 5px;
    margin-left: 5%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#observation__auth-textarea-return {
    height: 20%;
    width: 90%;
    position: absolute;
    resize: none;
    border-radius: 5px;
    padding: 2% 0  0 2%;
    outline: none;
    box-sizing: border-box;
    background: #FAFAFA;
    color: #757575;
    border: 2px solid #757575;
    box-shadow: 0px 0px 10px 0px #424242;
}
main section .second_article .second_div {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
main nav {
    height: 100%;
    width: 15%;
    position: relative;
    box-sizing: border-box;
}
main nav ul {
    margin-top: 20%;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7%;
    border-left: 3px solid #F5F5F5;
    box-sizing: border-box;
}
main nav ul li { user-select: none; font-size: 1.1em;}
main nav ul li:first-child {
    padding-bottom: 7%;
}
.li-selected { color: #1A73E8; }

/* Estilos de los equipos */
.root-information-device {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root-information-device > div {
    height: 90%;
    width: 80%;
    position: relative;
    display: flex;
    background: #FFFFFF;
    overflow: hidden;
    box-sizing: border-box;
    flex-direction: column;
}

.root-information-device > div h2 {
    padding: 3% 0 4% 5%;
    color: #212121;
    font-size: 1.1em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.container-info__device {
    height: 80%;
    width: 93%;
    margin: 0 0 0 5%;
    overflow-y: auto;
    overflow-x: none;
    border-top: 1px solid #EEEEEE ;
}

.container-info__device dl {
    height: auto;
    width: 100%;
    position: relative;
}

.row-info__device {
    height: 5em;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #EEEEEE;
}

.row-info__device:nth-child(15) { height: auto; }

.row-info__device dt {
    height: auto;
    width: 35%;
    position: relative;
    box-sizing: border-box;
    color: #0F172A;
    font-family: "Montserrat", sans-serif;
    font-size: .9em;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.row-info__device dd {
    height: auto;
    width: 65%;
    position: relative;
    box-sizing: border-box;
} 

#download-invoice {
    height: 3.5em;
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid #E0E0E0;
}

#download-invoice span {
    color: #0F172A;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-left: 3%;
}

#download-invoice svg { transform: rotate(45deg); }
 
.list-image-device {
    width: 90%;
    margin: 2em 0 2em 0;
    border: 1px solid #E0E0E0;
    border-radius: .3em;
    box-sizing: border-box;
}

.list-image-device li {
    height: 3em;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EEEEEE;
}

.list-image-device li svg { transform: rotate(45deg); margin-left: 3%; }
.list-image-device span {
    color: #111827;
    font-family: "Montserrat", sans-serif;
    font-size: .8em;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    position: absolute;
    left: 10%;
}
.list-image-device li button {
    color: #1A73E8;
    font-family: "Montserrat", sans-serif;
    font-size: .8em;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background: none;
    border: 0;
    margin-right: 3%;
}

.list-image-device li:last-child { border-bottom: none; }

.close-window-image {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
}

.root-image {
    height: 80%;
    max-width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.root-image img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

.delete-image__device {
    height: 2em;
    width: 2em;
    position: absolute;
    display: flex;
    background: rgba(224, 224, 224, 0.5);
    align-items: center;
    justify-content: center;
    top: 2%;
    right: 2%;
    z-index: 200;
    border: 1px solid #9E9E9E;
}

#change-status__device {
    margin-left: 57%;
    height: 3em;
    width: 20%;
    color: #B71C1C;
    font-family: "Montserrat", sans-serif;
    font-size: .8em;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background: none;
    border-radius: .3em;
    border: 1px solid #F44336;
    box-sizing: border-box;
}

.root-form-device-low { top: 0; position: absolute; height: 100%; width: 100%; }

#form-device-low {
    margin: 40% 0 0 5%;
    height: 35%;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 2px solid #EEEEEE;
    border-radius: .3em;
    box-sizing: border-box;
}

#form-device-low label {
    color: #212121;
    font-family: "Montserrat", sans-serif;
    font-size: .8em;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: 1em 0 1em 3%;
}

#form-device-low textarea {
    height: 9em;
    width: 94%;
    margin: 1em 0 1em 3%;
    border: none;
    outline: none;
    resize: none;
}

#form-device-low textarea::placeholder {
    color: #616161;
    font-family: "Montserrat", sans-serif;
    font-size: .9em;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.container-buttons-device-low {
    margin-top: .5em;
    height: 3em;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border-top: 1px solid #EEEEEE;
}

.container-buttons-device-low button:first-child {
    position: absolute;
    right: 21%;
    height: 70%;
    background: none;
    border: 1px solid #F44336;
    color: #B71C1C;
    font-family: "Montserrat", sans-serif;
    font-size: .8em;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: 0 1em 0 1em;
    border-radius: .3em;
}

.container-buttons-device-low button:last-child {
    position: absolute;
    right: 3%;
    height: 70%;
    background: #01579B;
    border: 0;
    color: #FAFAFA;
    font-family: "Montserrat", sans-serif;
    font-size: .8em;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: 0 1em 0 1em;
    border-radius: .3em;
}

.btn-danger { 
    color: #01579B; 
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}